
#user.modal.modal.fade
	.modal-dialog
		.modal-content.profile
			.modal-header
				h5.modal-title.profileUser User
				button(type='button',data-dismiss='modal').close 
					span &times;
			.modal-body
			.modal-footer
				button(type='button').btn.btn-link.text-danger.profileBlock Block User
				button(type='button',data-dismiss='modal').btn.btn-primary Close